<etwin-main-layout>
  <h1 i18n="Title of the legal notices section@@legal.title">Legal notices</h1>
  <h2 i18n="Title of the web hosting provider section@@legal.hostingTitle">Web Hosting Provider</h2>
  <p i18n="Introduction paragraph of the web hosting provider section@@legal.hostingIntro">Eternal-Twin is hosted by
    OVH. These are their contact details:</p>
  <dl>
    <dd i18n="Label for the hosting provider name@@legal.hostingNameLabel">Name</dd>
    <dt>OVH SAS</dt>
    <dd i18n="Label for the hosting provider address@@legal.hostingAddressLabel">Address</dd>
    <dt>2 rue Kellermann - 59100 Roubaix - France</dt>
  </dl>
  <h2 i18n="Title of the section on cookies@@legal.cookiesTitle">Cookies</h2>
  <ng-container i18n="Body of the section on cookies@@legal.cookiesBody">
    <p>Eternal-Twin avoids any non-necessary cookies.</p>
    <h3>Necessary cookies</h3>
    <p>Eternal-Twin uses cookies to support authentication and remember the user's preferred language. Those are
      first-party cookies required for the website to work. You may still disable them in your browser settings, but
      this
      may prevent the website from working.</p>
    <h3>Other cookies</h3>
    <p>There are no other cookies: no tracking, no analytics, no advertisement.</p>
  </ng-container>
  <h2 i18n="Title of the personal data section@@legal.personalDataTitle">Personal data</h2>
  <p i18n="Body of the personal data section@@legal.personalDataBody">Eternal-Twin stores user emails for authentication
    (sign-in and password recovery). No other personal data is
    stored. We do not share, sell or analyze any kind of personal data.</p>
</etwin-main-layout>
